thead
  tr
    th Node
    //- Use of binding to a non-standard property name
    th('[colSpan]'=2) CPU
    th('[colSpan]'=2) Memory
    th Details
//- Use of Ng-content element to mark insertion point 
ng-content