
<div class="container mt-2">
  <div class="card card-block">
    <div class="card-body">
            <nav class="navbar navbar-dark bg-secondary mb-1">
              <h1 class="navbar-brand mb-0">Cluster 1</h1>
            </nav>
            <table class="table table-hover" app-nodes>
              <tr app-nodes-row *ngFor="let node of cluster1" [node]="node"></tr>
            </table>
            <nav class="navbar navbar-dark bg-secondary mb-1">
              <h1 class="navbar-brand mb-0">Cluster 2</h1>
            </nav>
            <table class="table table-hover" app-nodes>
              <tr app-nodes-row *ngFor="let node of cluster2" [node]="node"></tr>
            </table>
    </div>
  </div>
</div>