clr-alert('[clrAlertType]'='service.type' '[clrAlertAppLevel]'="true" '*ngIf'='service.show' '(clrAlertClosedChange)'="service.close()")
  .alert-item(clr-alert-item)
    .alert-text {{service.message}}